<div class="row">
    <div class="p-3 col-6">
        <h1>Noticias</h1>
        <div class="fb-page" data-href="https://www.facebook.com/piedradetoque.poesiaambulante/" data-tabs="timeline" data-width="1600" data-height="800" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
            <blockquote cite="https://www.facebook.com/piedradetoque.poesiaambulante/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/piedradetoque.poesiaambulante/">Piedra de Toque Editorial</a></blockquote>
        </div>
    </div>
    <div class="p-3 col-5">
        <form class="" [formGroup]="clienteForm" (ngSubmit)="agregarCliente()">
            <h1>Suscríbete a nuestro periódico</h1>
            <h2>TINTO Y TINTA</h2>
            <div class="p-3 form-group justify-content-center">

                <div class="my-3">
                    <input formControlName="clienteNombre" class="form-control form-control-lg" type="text" placeholder="Nombre">
                    <div *ngIf="clienteForm.get('clienteNombre')?.hasError('required') && clienteForm.get('clienteNombre')?.touched" class="alert alert-danger" role="alert">
                        El nombre del cliente es obligatorio
                    </div>
                </div>
                <div class="my-3">
                    <input formControlName="clienteApellido" class="form-control form-control-lg" type="text" placeholder="Apellido">
                    <div *ngIf="clienteForm.get('clienteApellido')?.hasError('required') && clienteForm.get('clienteApellido')?.touched" class="alert alert-danger" role="alert">
                        El apellido del cliente es obligatorio
                    </div>
                </div>
                <div class="my-3">
                    <input formControlName="clienteCorreo" class="form-control form-control-lg" type="email" placeholder="Correo">
                    <div *ngIf="clienteForm.get('clienteCorreo')?.hasError('required') && clienteForm.get('clienteCorreo')?.touched" class="alert alert-danger" role="alert">
                        El correo es obligatorio
                    </div>
                    <div *ngIf="clienteForm.get('clienteCorreo')?.hasError('pattern')" class="alert alert-danger" role="alert">
                        El correo es incorrecto
                    </div>
                </div>
                <div class="col-6 offset-3 d-flex justify-content-between align-content-center">
                    <button type="submit" class="btn btn-dark" [disabled]="clienteForm.invalid">SUSCRIBIRME</button>
                </div>
            </div>
        </form>
    </div>
</div>