<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ISBN</th>
            <th scope="col">Nombre</th>
            <th scope="col">Autor</th>
            <th scope="col">Precio</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of listadoLibros">
            <td>{{ libro.isbn }}</td>
            <td>{{ libro.nombre }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.precio }}</td>

            <td><button class="btn btn-primary btn-dark " (click)="eliminarLibro(libro._id)" type="button"><i class="fas fa-trash-alt"></i></button></td>
            <td><button class="btn btn-primary btn-dark " [routerLink]="['/editar-libro', libro._id]" routerLinkActive="router-link-active" type="button"><i class="fas fa-pen"></i></button></td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary btn-dark " [routerLink]="['/crear-libros']" routerLinkActive="router-link-active" type="button">Crear</button>