<div class="p-3 col-6">
    <h1>Lanzamiento</h1>
    <h2>Poemario en piedra</h2>
    <iframe class="w-100 h-50 justify-content-center" src="https://www.youtube.com/embed/QdLYhoIyJCc" title="Poemario en piedra" frameborder="0" scrolling="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture "
        allowfullscreen></iframe>
    <p class="text-justify">Somos una organización independiente que lleva doce años trabajando por la promoción cultural en la ciudad de Bogotá. Nuestros únicos patrocinadores son la emoción que nos mueve y la convicción que tenemos de que el arte necesita aliados.
        <br>Las artes en general son nuestro blanco de interés, aunque la literatura ha sido nuestro plato fuerte. Con un sello editorial y la organización de una serie de eventos, nos hemos convertido en una opción de difusión para los artistas emergentes
        del país. <br>Trabajamos con el corazón, nos gusta lo que hacemos, por eso lo hacemos de la mejor manera. No buscamos ser millonarios, pero cobramos por nuestro trabajo, porque lo valoramos. Nuestro principal objetivo es ser un puente entre el
        arte y el publico, pues creemos que las obras deben tener alas, deben hacer eco en otros. Somos necios, unos románticos del papel, creemos que hay que seguir trabajando para hacer ruido, para dejar una huella, para ayudar a otros a aterrizar sueños.</p>
</div>
<div class="p-3  col-3">
    <form>
        <div class="p-3 form-group">
            <h1>Suscríbete a nuestro periódico</h1>
            <h2>TINTO Y TINTA</h2>
            <label> Nombre: </label>
            <input class="form-control" type="text " name="nombre " id="nombre" required><br>
            <label> Correo: </label>
            <input class="form-control" id="email" aria-describedby="emailHelp" name="correo " required><br>
            <div id="alert" role="alert" class="text-center"></div><br>
            <button class="btn btn-primary btn-dark " type="button" onclick="validar()">Suscribirme</button>
        </div>
    </form>
</div>