<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 w-100 mt-5 p-3">
    <div class="card">
        <img src="assets/img/RL.png" class="card-img-top w-auto" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rocinante Librería</h5>
            <p class="card-text">Uno de nuestros mejores distribuidores</p>
            <a href="https://www.facebook.com/RocinanteLibreria/"><i class="fab fa-facebook-square"></i> @RocinanteLibreria  </a>
            <small class="text-muted">Desde hace uff</small></div>
    </div>

    <div class="card">
        <img src="assets/img/galeria.png" class="card-img-top h-100" alt="...">
        <div class="card-body">
            <h5 class="card-title">Galería 419</h5>
            <p class="card-text">Escenario de nustros más grandes lanzamientos</p>
            <a href="https://www.facebook.com/LaGaleria419/"><i class="fab fa-facebook-square"></i> @LaGaleria419  </a>
            <small class="text-muted">Desde siempre :3</small> </div>
    </div>
</div>