<div class="m-0 row">
    <div class="p-3 col-9">
        <table class="table table-striped">
            <tr>
                <th>Cursos disponibles</th>
                <th></th>
                <th>Aplicar</th>
            </tr>
            <tr>
                <td>Básico de Ukelele y/o guitarra</td>
                <td><img src="assets/img/ukelele.jpg" alt="curso de ukelele" width="600px" /></td>
                <td><input type="button" value="Aplicar"></td>
            </tr>
            <tr>
                <td>Escritura Creativa</td>
                <td><img src="assets/img/creacion.jpg" alt="creacion literaria"></td>
                <td><input type="button" value="Aplicar"></td>
            </tr>
        </table>
    </div>
</div>