<div class="p-3 col-6 d-flex">
    <div class="card mb-3">
        <img src="assets/img/RL.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Rocinante Librería</h5>
            <p class="card-text">Uno de nuestros mejores distribuidores</p>
            <p class="card-text"><small class="text-muted">Desde hace uff</small></p>
        </div>
    </div>
    <div class="card mb-3">
        <img src="assets/img/galeria.png" class="card-img-top h-2" alt="...">
        <div class="card-body">
            <h5 class="card-title">Galería 419</h5>
            <p class="card-text">Escenario de nustros más grandes lanzamientos</p>
            <p class="card-text"><small class="text-muted">Desde siempre :3</small></p>
        </div>
    </div>
</div>