<footer class="footer p-1 text-center">
    <div class="container">
        <p>Piedra de Toque - Fundación sin ánimo de lucro <br>
            <a href="https://www.facebook.com/piedradetoque.poesiaambulante/"><i class="fab fa-facebook-square"></i> @piedradetoque.poesiaambulante </a>&nbsp;
            <a href="tel:3208466521"><i class="fas fa-phone-square-alt"></i> 320-846-6521</a> &nbsp;
            <a href="mailto:piedradetoque2012@hotmail.com"><i class="fas fa-at"></i> piedradetoque2012@hotmail.com</a>
            <br> Priedra de Toque Editorial 2021
        </p>
    </div>
</footer>