<nav class="navbar justify-content-center">
    <a class="navbar-brand d-flex" href="https://www.facebook.com/piedradetoque.poesiaambulante/" target="_blank">
        <img class="h-10 w-10" src="assets\img\logo.png" alt="fundacion">
    </a>
</nav>
<div class="container-fluid">
    <div class="m-0 row justify-content-start">
        <div class="col-3">
            <ul class="nav flex-column p-3 d-flex">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/cursos">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/lanzamientos">Nuevos Lanzamientos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/catalogo">Catálogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/autores">Autores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:4200/aliados">Aliados</a>
                </li>
            </ul>
        </div>
        <div class="col-9 p-3">

            <router-outlet></router-outlet>

        </div>
    </div>

</div>
<app-footer></app-footer>