/* You can add global styles to this file, and also import other style files */

:root {
    --font: 'Oswald', sans-serif;
    --color-negro: #000;
    --color-blanco: #ffff;
    --size-title: 20rem;
}

* {
    font-family: var(--font)
}

.navbar {
    background-color: var(--color-negro)
}

.footer {
    background-color: var(--color-negro)
}

a {
    color: var(--color-blanco) !important;
}

.nav-item {
    background-color: #000000 !important;
    box-shadow: 0 1px 3px #585859, 0 1px 2px #727273;
}

.nav-item a:hover {
    background-color: #727273 !important;
}

button {
    background-color: #000000 !important;
}

button:hover {
    background-color: #727273 !important;
}

th {
    color: #ffff !important;
    background-color: #000000 !important;
}