/* You can add global styles to this file, and also import other style files */

:root {
    --font: 'Oswald', sans-serif;
    --color-negro: #000;
    --color-blanco: #ffff;
    --size-title: 20rem;
}

* {
    font-family: var(--font)
}

.navbar {
    background-color: var(--color-negro)
}

.footer {
    background-color: var(--color-negro)
}

a {
    color: var(--color-blanco) !important;
}

.nav-item {
    background-color: #000000 !important;
    box-shadow: 0 1px 3px #585859, 0 1px 2px #727273;
}

.nav-item a:hover {
    background-color: #727273 !important;
}

.carousel-caption {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 0.28895308123249297) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0.28895308123249297) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.28895308123249297) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
}

.slick-slider {
    width: 88%;
    margin: auto;
    background: rgb(14, 13, 13);
}

body .slick-prev,
body .slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}