<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="assets/img/Diana Carolina Daza.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Diana Carolina Daza Astrudillo</h5>
                <p>El azul de las cosas y otros</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="assets/img/Norman_Paba.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Norman Paba Zarante</h5>
                <p>Habitar el relámpago</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="assets/img/Laura_Castillo.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Laura Castillo</h5>
                <p>Prolongación de la lluvia</p>
            </div>
        </div>
    </div>